.page-loader {
    &--main {
        min-height: 100vh;
        row-gap: 90px;
    }
    &__container {
        @include content-center-column;
        background-color: #3e3c41;
    }
    &__desc {
        font-size: 24px;
        width: 100%;
        display: block;

        text-align: center;

        color: white;
        text-transform: uppercase;
    }
}

.animation-area {
    width: 300px;
    background-color: transparent;
    position: relative;
}

.train-container {
    position: relative;
    background-image: url('../img/trainPng.png');
    height: 25px;

    width: 290px;
    background-size: 290px;
    top: 0;
    right: 0;
    margin: auto;
    transform: rotate(360deg);
    animation-name: trainbefore;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes trainbefore {
    from {
        background-position: 0px;
    }
    to {
        background-position: 290px;
    }
}
