$md: 568px;
$lg: 790px;
$xl: 1100px;
$xxl: 1268px;

@mixin mdOnly {
    @media (min-width: #{$md}) and (max-width: #{$lg}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$lg}) {
        @content;
    }
}
@mixin md {
    @media (min-width: #{$md}) {
        @content;
    }
}
@mixin xl {
    @media (min-width: #{$xl}) {
        @content;
    }
}
@mixin xxl {
    @media (min-width: #{$xxl}) {
        @content;
    }
}

@mixin flex-column-gap($gap) {
    display: flex;
    flex-direction: column;
    row-gap: $gap;
}

@mixin content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin margin {
    margin-left: auto;
    margin-right: auto;
}

@mixin framed-globally($px) {
    padding-left: calc(var(--main-padding) + $px);
    padding-right: calc(var(--main-padding) + $px);
}

:root {
    /* colors */
    --main: var(--secondary-lighter);
    --black: #000000;
    --black-lighter: #383838;
    --secondary: #868686;
    --secondary-lighter: #aba7a7;
    --secondary-medium-light: #e6e6e6;
    --secondary-super-light: #f6f6f6;
    --red: #d8605b;
    --yellow: #f4c27f;
    --yellow-lighter: #f8d6a9;
    --main-gradient: linear-gradient(267.72deg, #d8605b -0.89%, #f4c27f 112.29%);

    //timings
    --cat-animation-duration: 1.5s;
    --greeting-show-duration: 1s;

    // paddings
    --main-padding: 30px;
    @include md {
        --main-padding: 50px;
    }
    @include lg {
        --main-padding: 80px;
    }
    @include xl {
        --main-padding: 150px;
    }
    @include xxl {
        --main-padding: 250px;
    }
}
