// commons
body {
    background-color: var(--main);
    font-family: 'Jura';
    color: var(--black);
    font-weight: 300;
}

.framed {
    padding-right: var(--main-padding);
    padding-left: var(--main-padding);
}

.btn {
    cursor: pointer;
    &-next-section {
        width: 100%;
        background: var(--main-gradient);
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        padding: 15px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
        border-radius: 50px;
    }
    &-logout {
        background-color: var(--yellow);
        border-radius: 50px;
        font-weight: 500;
        font-size: 18px;
        padding: 7px 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    &-add {
        @include content-center();

        border-radius: 50px;
        border: 2px solid var(--yellow);
        padding: 5px;
    }
    &-remove {
        margin-left: auto;
        margin-right: 5px;
    }
}

// svg
.svg {
    &-add {
        width: 15px;
    }
    &-remove {
        width: 15px;
    }
}

// text
.text {
    font-size: 14px;
    color: var(--black-lighter);
    line-height: 20px;

    &-container {
        text-align: center;
    }
    &--uppercase {
        text-transform: uppercase;
    }
    &--block {
        display: block;
    }
}

// title
.title {
    font-size: 30px;
    font-weight: 300;

    &-container {
        text-align: center;
        margin-bottom: 15px;
    }
    &--sm {
        font-size: 20px;
        font-weight: 500;
    }
    &-todo {
        padding-left: 5px;
    }
    &-email {
        color: var(--red);
    }
    &-name {
        font-weight: 700;
    }
    &-time {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        display: block;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

// main
.main {
    height: 100vh;

    &-welcome {
        @include content-center-column();
        background-color: var(--yellow-lighter);
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &-auth {
        @include content-center-column();
        background-color: var(--yellow-lighter);
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &-app {
        @include content-center-column();
        background-color: #fff;
    }
}

// header
.header {
    &-welcome,
    &-auth {
        margin-top: auto;
    }
    &-app {
        @include content-center-column();
        width: 100%;
        min-height: 30vh;

        background-color: var(--yellow-lighter);
        padding-top: 20px;
    }
}

// .content
.content {
    width: 100%;
    &-app {
        @include content-center-column();
        margin-bottom: 35px;
        flex: 1;
    }
}

// footer
.footer {
    width: 100%;
    margin-top: auto;

    &-welcome {
        margin-bottom: 60px;
    }
    &-app {
        padding-bottom: 20px;
    }
    &__sign-in-container {
        margin-top: 20px;
        text-align: center;
    }
    &__sign-in-link {
        padding-left: 5px;
        color: var(--red);
        font-weight: 700;
    }
}

// img-done
.img-done {
    max-width: 100%;
    padding: 0 5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    &--sm {
        max-width: 60%;
    }
}

// form
.form {
    &__controls {
        @include flex-column-gap(20px);
        justify-content: space-between;
        margin-top: 30px;
    }
    &__control {
        background-color: white;
        padding: 15px 30px;
        border-radius: 20px;
    }
    &__controls-login {
        row-gap: 30px;
    }
    &-auth-login {
        margin-top: 70px;
    }
    // tasks
    &-tasks {
        width: 100%;
        margin-top: auto;
    }
    &-tasks__container {
        margin-top: 20px;
        padding: 25px 15px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        border-radius: 24px;
    }
    &-tasks__title {
        font-size: 30px;
        font-weight: 700;
    }
    &-tasks__header {
        display: flex;
        justify-content: space-between;
    }
    &-tasks__header-desc {
        font-size: 18px;
    }
}

.todos {
    margin-top: 20px;
    max-height: 35vh;
    min-height: 35vh;
    overflow-y: scroll;
    @include flex-column-gap(15px);
}

.todo {
    display: flex;
    column-gap: 10px;
    align-items: center;
    &__checkbox {
        width: 20px;
        height: 20px;
    }
    &__desc {
        max-width: 70%;
    }
}
